/* App.css */
.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #222e50;
  padding: 10px 0;
}

.navbar button {
  background-color:#fccb06;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px; /* Add this line */
  transition: 0.2s all;
  box-shadow: 0 0 10px black;
}

.navbar button:hover {
  background-color: #6F8FAF;
}

.navbar .navbar-link { /* Add this new class */
  text-decoration: none;
  color: black;
}

.home-page {
  display: flex;
  justify-content: center;
  align-items: top;
  height: 100vh;
  font-size: 2em;
  background-color: #edf7f6;
  color: #222e50;
}

.myProfile{
  background-color: lightgrey;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}